.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6.25em;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #000000;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.headerheading{
    color: #fff;
    font-size: 40px;
    padding-right: 250px;
}

.content {
    width: 1000px;
    border: 1px solid #ff0000;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    padding-top: 0px;
    color: #fff;
    position:fixed;
    height:50px;
    padding-bottom: 75px;
}

.footer-content {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p {
    max-width: 200px;
    margin: 5px auto;
    line-height: 10px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-content h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 0.5rem;
}

.footer-bottom p {
    float: left;
    font-size: 1px;
    word-spacing: 0px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 10px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
}

.nav-menu {
    float: right;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    padding-right: 10px;
    display: block;
}

.nav-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.nav-menu ul li a:hover {
    color: #27bcda;
}

.article {
    background: transparent !important;
    text-align: left;
    position: relative;
    overflow-y:scroll;
    height:380px;
}
.article font{
    color:darkslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
    padding-left: 20px;
    
}
.article h1 {
    margin-top: 0;
  }
  
.aside {
    top: 0px;
    height: 280px;
    background: rgba(0, 0, 0, 0.07);
    padding: 110px 30px;
    max-width: 100%;
    overflow: auto;
    overflow-x:hidden;
    overflow-y:hidden;
    float:right;
    margin-right: 2%;
    text-align-last: left;
}
.aside h3 {
    margin: 100;
  }
.aside svg {
    width: 100px;
    max-width: 100%;
    display:contents;
    margin: 0 auto;
  }
.aside .infos-auteur h2 {
    font-size: 20px;
    text-align: center;
  }
.aside .infos-auteur span {
    display: block;
  }
  
.article,
  aside {
    float: left;
  }
.inc-pic{
    size: 50px;
    width:710px;
    height:200px;
    overflow: auto;
}
.article p{
    padding-left: 10px;
}
.inc-pic1{
    size: 50px;
    border: 1px solid black;
    width:500px;
    height:300px;
    overflow:hidden;
}
.inc-pic2{
    size: 50px;
    border: 1px solid black;
    width:500px;
    height:200px;
    overflow:hidden;
}
.aside menu{
    text-align: left;
}